.bookmarkbtn {
    display: inline-block;
    height: 38px;
    width: 95px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    margin-top: 4%;
    margin-left:4%;
    margin-bottom: 4%;
  }

  @media(max-width:960px){
  .bookmarkbtn{
    margin-left: 0;
    display: block;
  }
  }