video{
    object-fit:cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
    
}

  
 

.herocontainer{
    /* background: green; */
    color: white;
    font-size: 50px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.overlayText {
    display: flex;
    position:absolute;
     top:40%;
     left:30%;
     z-index:1;
     flex-wrap: wrap;
     user-select: none;
   }

   .herotext{
       /* font-size: 200px; */
       font-size:15vw;
       font-family: "Bubblegum Sans";
       line-height: 40%;
   }

   .subtext{
       font-size:3.3vw;
       padding: 15%;
       font-family: Lato;
   }

   @media(max-width:750px){
    .overlayText {
        display: flex;
        position:absolute;
         top:50%;
         left:20%;
         z-index:1;
         flex-wrap: wrap;
       }       

    .herotext{
        /* font-size: 200px; */
        font-size:20vw;
        font-family: "Bubblegum Sans";
        line-height: 40%;
    }
 
    .subtext{
        font-size:4vw;
        padding-left: 20%;
        font-family: Lato;
    }
   }