
.brand{
 font-size: 40px;
 color: #e60e3c;
 text-decoration: none;
 font-family: 'Pacifico';
}

.sbar{
  width: 40vw !important;
  height: 35px !important;

  /* margin: 0.5vw; */
  /* border-radius: 5px !important; */
}



.sbar:focus{
  outline: none;
  box-shadow:none !important;
  border:1px solid #e60e3c !important;
}

.sbtn{
  width: 3vw;
  /* display: flex;
  flex-wrap: wrap; */
  color:#e60e3c;
  background-color: #f1f1f1;
  border:none;
  outline: none;
}

.sbtn:hover{
  width: 3vw;
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #e60e3c;
  border:none;
  outline: none;
}

.navoption{
  /* color: blue !important; */
  margin:0 1vw;
  font-family: Quicksand !important;
}

.logopt{
  margin:0 1vw;
  font-family: Quicksand !important;
  color: #495057    !important;
}

.logopt:hover{
  color: black  !important;
}

.navoptions{
  margin:0 1vw;
  background-color: #e60e3c;
  color: white !important;
  font-weight: 600;
  border-radius: 4px;
}

.navoptions:hover{
  transition-duration:0.5s;
  margin:0 1vw;
  color: #ff1742 !important;
  /* outline:2px #e60e3c solid; */
  /* border-radius: 4px; */
  box-shadow: 10px -10px #e60e3c;
  transform: none !important;
  background-color: #f7f7f7;
  font-weight: 600;
  border-radius: 4px;
}

.navshadow{
  box-shadow: 0 5px 5px -5.5px black;
}


.dditems:hover{
background-color: #e60e3c !important;
color: white !important;
/* width: 90%; */
/* font-weight: 500; */
/* font-size: 18px; */
/* transform: scale(1.1); */
}



.dditems{
font-family: Lato !important;
/* color: #e60e3c !important; */

}

.brand:hover{
  text-decoration: none;
  color: #343a40;
}

@media(max-width:300px){
  .logo{
    margin-left:0;
    margin-right: auto;
  }
}

@media(max-width:991px){
  .navoptions{
    background-color: #f7f7f7;
    color: #e60e3c !important;
    font-weight: 200 !important;
  }
  .sbtn{
    background-color: rgba(0,0,0,0) ;
  }
}

@media(max-width:1090px){
  .brand{
    font-size: 25px;

   }
}